.jumbotron{
    width: 400px;
    text-align: center;
    margin: 20px auto 0 auto;
}
.table{
    margin-top:20px;
}

.form-control{
    margin-bottom: 5px;
}
.selecionado{
    background-color: blue;
}

p{
    font-weight: bold;
    display: inline;
}